{% load static %}

{% load static %}

<section class="section-padding bg-cream">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-subtitle">Booking</div>
                <div class="section-title">Booking</div>
            </div>
        </div>

        <div class="max-w-7xl mx-auto">

            <div class="grid grid-cols-1 md:grid-cols-12 gap-8 items-center">

                <!-- Left Column -->
                <div class="md:col-span-8 animate-box" data-animate-effect="fadeInUp">
                    {% include 'booking/booking_js.html' %}
                </div>

                <!-- Right Column -->
                <div class="md:col-span-4 animate-box space-y-4" data-animate-effect="fadeInUp">
                    <div class="mt-6 w-full flex-1 lg:mt-0">
                        <div></div>
                        <img class=""
                             src="https://images.unsplash.com/photo-1524749292158-7540c2494485?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=85"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
