{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ seo_settings.title|default:"Paris Magical Transfer" }}{% endblock %}

{% block meta_description %}
    {% if seo_settings.meta_description %}
        <meta name="description" content="{{ seo_settings.meta_description }}">
    {% endif %}
{% endblock %}

{% block content %}
<div
  class="absolute inset-0 opacity-50 bg-no-repeat bg-center"
  style="
    background-image: url('{% static 'img/grid.82d1b5bd.svg' %}');
    -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 70%, transparent);
    mask-image: linear-gradient(to right, transparent, black 20%, black 70%, transparent);
  ">
</div>
    {% include 'core/nav.html' %}
    {% include 'core/slider.html' %}

{% include 'booking/dynamic_price.html' %}
    {% include 'core/about.html' %}
    {% include 'core/cab.html' %}
    {% include 'core/service.html' %}
<!--    {% include 'blog/blog.html-->
    {% include 'core/faq.html' %}
{% include 'core/footer.html' %}

{% endblock %}
