{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ seo_settings.title|default:"Paris Magical Transfer" }}{% endblock %}

{% block meta_description %}
    {% if seo_settings.meta_description %}
        <meta name="description" content="{{ seo_settings.meta_description }}">
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'core/nav.html' %}
    {% include 'core/slider.html' %}

{% include 'booking/dynamic_price.html' %}
    {% include 'core/about.html' %}
    {% include 'core/cab.html' %}
    {% include 'core/service.html' %}
<!--    {% include 'blog/blog.html-->
    {% include 'core/faq.html' %}
{% include 'core/footer.html' %}

{% endblock %}
